body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'PT Serif', serif; */
    font-size: 16px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar {
    font-family: 'PT Serif', serif;
}

#emailCounter {
    float: right;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

select.form-control,
textarea.form-control,
input.form-control {
    font-size: 16px;
}
input[type='file'] {
    width: 100%;
}

.App {
    margin-top: 15px;
}

.Login {
    padding: 60px 0;
}

.Login form {
    margin: 0 auto;
    max-width: 320px;
}

.NotFound {
    padding-top: 100px;
    text-align: center;
}

.Signup {
    padding: 60px 0;
}

.Signup form {
    margin: 0 auto;
    max-width: 320px;
}

.Signup form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
}

.table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    margin-top: 40px;
}

.thead {
    display: table-header-group;
    color: white;
    font-weight: bold;
    background-color: grey;
}
.tbody {
    display: table-row-group;
}
.tr {
    display: table-row;
}
.td {
    display: table-cell;
    border: 1px solid black;
    padding: 1px;
}
.tr.editing .td input {
    width: 100px;
}

.loading {
    padding: 170px 0;
    text-align: center;
}

.page-container {
    margin-top: 40px;
}

.newEmail-container {
    width: 60%;
    margin: auto;
}

.success-alert {
    z-index: 10;
    position: absolute;
    width: 20%;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}
