body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'PT Serif', serif; */
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#emailCounter {
  float: right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type='file'] {
  width: 100%;
}

.App {
  margin-top: 15px;
}

.Login {
  padding: 60px 0;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.center-pad-top {
  padding-top: 100px;
  text-align: center;
}

.Signup {
  padding: 60px 0;
}

.Signup form {
  margin: 0 auto;
  max-width: 320px;
}

.Signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

.loading {
  padding: 170px 0;
  text-align: center;
}

.page-container {
  margin-top: 40px;
}

.newAddress-container {
  width: 60%;
  margin: auto;
}

.invalid-feedback {
  display: block !important;
}
